<h4 *ngIf="auth.isAuthenticated()">
    <div>
      You are logged in!
    </div>
    <h2 class="inlined-header">Kraken | MACD | ETHEUR</h2> (tout &ccedil;a sera param&eacute;trable un jour...)
    
    <div id="formulaire-creation">
      <label>Bot name:
        <input #botName />
      </label>
      <!-- (click) passes input value to add() and then clears the input -->
      <button (click)="add(botName.value); botName.value=''">
        add
      </button>
      (TODO : select options avec les grains MACD)
    </div>
    
    <ul class="bots-liste">
        <li *ngFor="let bot of bots">
          <a routerLink="/detail/{{bot.id}}">
            <span class="badge">{{bot.id}}</span> {{bot.name}}
          </a>
          <button class="delete" title="delete bot"
          (click)="delete(bot)">x</button>
        </li>
      </ul>
  </h4>
  <h4 *ngIf="!auth.isAuthenticated()">
    You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
  </h4>
  
