<div *ngIf="bot">
  
    <h2>{{ bot.name | uppercase }} Details</h2>
    <div>
      <span>id: </span>{{bot.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="bot.name" placeholder="name" />
      </label>
    </div>
  
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>