<h4 *ngIf="auth.isAuthenticated()">
  <div>
    You are logged in!
  </div>
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>
